* {
  inset: 0;
}

.App-logo {
  pointer-events: none;
  height: 50px;

}

@media(prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.justify {
  text-align: justify;
}

.indent {
  text-indent: 2em;
}

.margin-raight-30 {
  margin-right: 30px;
}

.indent-10 {
  text-indent: 10px;
}

.imgDetalle {
  width: 100%;
  height: 100%;
}

.margin-200 {
  margin-bottom: 210px;
}